@import "tailwindcss";

html {
  font-size: 62.5%; /* Makes 1rem = 10px */
}

* {
  font-size: 1.6rem;
  line-height: 1.5; /* Base line height for body text */
}

@theme {
  --font-*: initial;
  --font-sans: "Roboto", sans-serif;
  --font-primary: "Roboto", sans-serif;
  --font-secondary:  "Lora", serif;
  --color-brown: #f29449;
  --color-brown-light: #FAF6F1;
  --color-brown-dark: #f18631;
  --color-blue: #5bacd1;
  --color-blue-light: #E8F3F7;
  --color-black: #212427;
  --color-offwhite: #FFFBF4;
  --color-yellow: #FFD14F;
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  /* Custom Shadows */
  --shadow-soft: 0px 4px 8px rgba(0, 0, 0, 0.04);
  --shadow-hover: 0px 4px 16px rgba(0, 0, 0, 0.06);
  --transition-default: all 0.3s ease-in-out;
}

.text-blue {
  color: var(--color-blue);
}

html,
body {
  height: 100%;
  background-color: #FAF6F1;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  font-weight: 500;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 3.4rem;
  margin-bottom: 0.8em;
  line-height: 1.1; /* Tighter line height for large headings */
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 0.6em;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.6em;
  line-height: 1.4;
}

h4 {
  font-size: 1.8rem;
  margin-bottom: 0.4em;
  line-height: 1.4;
}

h5, h6 {
  font-size: 1.6rem;
  margin-bottom: 0.2em;
  line-height: 1.5;
}

button, a {
  cursor: pointer;
  line-height: 1.5;
}
